

<div class="container marketing" style="margin-top: 50px;">

  <!-- Three columns of text below the carousel -->
  <div class="row"  ng-repeat="hel in healthList" ng-if="$index % 3 == 0">
  <div class="col-lg-4" ng-if="healthList[$index].id != undefined">
    <img class="img-circle" ng-src="http://tnfs.tngou.net/image/{{healthList[$index].img}}"  alt="{{healthList[$index].keywords}}" style="width: 140px; height: 140px;">
    <h4>{{healthList[$index].title}}</h4>
    <p>{{healthList[$index].description | limitTo:100}}</p>
    <p>

      <a class="btn btn-default" href="#/navbar/healthDetail/{{healthList[$index].id}}" role="button">查看详情 &raquo;</a>
    </p>
  </div>

  <div class="col-lg-4" ng-if="healthList[$index+1].id != undefined">
    <img class="img-circle" ng-src="http://tnfs.tngou.net/image/{{healthList[$index+1].img}}"  alt="{{healthList[$index+1].keywords}}" style="width: 140px; height: 140px;">
    <h4>{{healthList[$index+1].title}}</h4>
    <p>{{healthList[$index+1].description  | limitTo:100}}</p>
    <p><a class="btn btn-default" href="#/navbar/healthDetail/{{healthList[$index+1].id}}" role="button">查看详情 &raquo;</a></p>
  </div><!-- /.col-lg-4 -->


  <div class="col-lg-4"  ng-if="healthList[$index+2].id != undefined">
    <img class="img-circle" ng-src="http://tnfs.tngou.net/image/{{healthList[$index+2].img}}"  alt="{{healthList[$index+2].keywords}}" style="width: 140px; height: 140px;">
    <h4>{{healthList[$index+2].title}}</h4>
    <p>{{healthList[$index+2].description  | limitTo:100}}</p>
    <p><a class="btn btn-default" href="#/navbar/healthDetail/{{healthList[$index+2].id}}" role="button">查看详情 &raquo;</a></p>
  </div><!-- /.col-lg-4 -->

  </div><!-- /.row -->

 
</div>









<div class="container marketing" >
<nav>
    <ul class="pagination">
    <li ng-click="showPageDown(begin)">
        <a href="javascript:void(0)">&laquo;</a>
      </li>
        <li ng-repeat="page in pageLCountist | limitTo:10:begin"><a href="#/navbar/consurtList/{{id}}/{{page}}">{{page}}</a></li>
        <li ng-click=showPageAdd(begin)><a href="javascript:void(0)">&raquo;</a></li>
    </ul>
</nav>
</div>
