 <div class="container marketing" style="margin-top: 75px">

 <!-- Three columns of text below the carousel -->
      
      <div class="row" style="margin-top: 75px;">
        <div class="col-lg-4" ng-repeat="booksLi in booksList">
          <!-- <imgsrc="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;"> -->
         <img class="img-circle" style="width: 100px;height: 100px;"  ng-src="http://tnfs.tngou.net/image{{booksLi.img}}">
          <h5>{{booksLi.author}}</h5>
          <h5>{{booksLi.name | limitTo:80}}</h5>
          <!-- <h2>{{booksLi.name}}</h2>
          <h2>{{booksLi.summary}}</h2> -->
          <p><a class="btn btn-default" ui-sref="navbar.booksdetail({id:booksLi.id})" role="button">查看详情 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>

      <nav>
        <ul class="pagination">
          <li ng-repeat="page in pageLCountist"><a href="#/navbar/booksList/{{id}}/{{page}}">{{page}}</a></li>
        </ul>
      </nav>
</div>