<!-- ====作者：潘俊start================================== -->
<div class="container marketing" style="padding:0 15px;">
<!-- Three columns of text below the carousel -->
<div class="row" style="margin-top: 75px;" ng-repeat="iList in issueList" ng-if="$index % 3 ==0">
  <div class="col-lg-4" ng-if="issueList[$index].id != undefined">
    <img class="img-thumbnail" ng-src="http://tnfs.tngou.net/img{{issueList[$index].img}}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    <h3>{{ issueList[$index].title }}</h3>
    <p>{{ issueList[$index].description | limitTo:80 }}</p>
    <p><a class="btn btn-default" href="#/navbar/issueDetail/{{issueList[$index].id}}" role="button">点击查看 &raquo;</a></p>
  </div><!-- col-lg-4 -->
  <div class="col-lg-4" ng-if="issueList[$index+1].id != undefined">
    <img class="img-thumbnail" ng-src="http://tnfs.tngou.net/img{{issueList[$index+1].img}}" style="width: 140px; height: 140px;">
    <h3>{{ issueList[$index+1].title }}</h3>
    <p>{{ issueList[$index+1].description | limitTo:80 }}</p>
    <p><a class="btn btn-default" href="#/navbar/issueDetail/{{issueList[$index+1].id}}" role="button">点击查看 &raquo;</a></p>
  </div><!-- col-lg-4 -->
  <div class="col-lg-4" ng-if="issueList[$index+2].id != undefined">
    <img class="img-thumbnail" ng-src="http://tnfs.tngou.net/img{{issueList[$index+2].img}}" style="width: 140px; height: 140px;">
    <h3>{{ issueList[$index+2].title }}</h3>
    <p>{{ issueList[$index+2].description | limitTo:80 }}</p>
    <p><a class="btn btn-default" href="#/navbar/issueDetail/{{issueList[$index+2].id}}" role="button">点击查看 &raquo;</a></p>
  </div><!-- col-lg-4 -->
</div><!-- row -->

  <nav>
    <ul class="pagination" id="allPage">
      <li ng-click="showPageDown(begin)">
        <a href="javascript:void(0)">&laquo;</a>
      </li>
      <li onclick="addActive(this)" ng-repeat="page in pageCountList | limitTo:10:begin">
        <a href="#/navbar/issueList/{{id}}/{{page}}">{{page}}</a>
      </li>
      <li ng-click=showPageAdd(begin)><a href="javascript:void(0)">&raquo;</a></li>
    </ul>
  </nav>
</div>

<!-- 说明：img字段返回的是不完整的图片路径src，
需要在前面添加【http://tnfs.tngou.net/image】或者【http://tnfs.tngou.net/img】
前者可以在图片后面添加宽度和高度，如：http://tnfs.tngou.net/image/top/default.jpg_180x120 -->
<!-- ====作者：潘俊end================================== -->