<div class="preload"><img src="./img/yujiazai.jpg"></div>

<div class="container marketing">

	<div class="row featurette" style="margin-top: 75px;">
		<div class="col-md-2">
			     
			    </div> 
		
	    <div class="col-md-8" style="margin: 0 auto;">
	      <h2 class="featurette-heading">{{knowDetail.title}} <p class="text-muted" style="font-size: 20px;">keywords:{{knowDetail.keywords}}</p></h2>
	      <p class="lead ImgStyle" ng-bind-html='knowDetailMes' ></p>
	    
			<a href="javascript:void(0)"  ng-click="back('foodDetailGoBack')" id="foodDetailGoBack" tabindex="0" 
			class="btn btn-lg btn-danger" 
			role="button" data-toggle="popover" data-trigger="focus" title="返回前页" data-content="biubiubiu……滴……您已回不去啦，hahahahaha……">BACK</a>

	    </div>
	    <div class="col-md-2">
		</div> 
	    
	</div>

</div>
