@media screen and (min-width: 800px) { /*pc端样式*/
	#moduleMessage{
		margin-left:43%;
	}
	.carousel{
		height:700px;
	}
	.carousel img{
		width:100%;
		height:700px;
	}
	.carousel .btnList{
		left:40%;
	}
	.carousel .leftBtn,.carousel .rightBtn{
		font-size:80px;
	}
}
@media screen and (max-width: 720px) { /*移动端样式*/
	#moduleMessage{
		margin-left:5%;
	}
	.carousel{
		height:220px;
	}
	.carousel img{
		width:100%;
		height:220px;
	}
	.carousel .btnList{
		left:25%;
	}
	.carousel .leftBtn,.carousel .rightBtn{
		font-size:40px;
	}
}
.carousel{
	margin-top:50px;
	width:100%;
	padding-left:0;
	padding-right:0;
	position: relative;
	overflow: hidden;
}
.carousel ul{
	width:800%;
	margin:0;
	padding:0;
}
.picList{
	position: absolute;
	left:-100%;
}
li{
	list-style:none;
}
.carousel li{
	width:12.5%;
	float:left;
}
.carousel .btnList{
	width:200px;
	height:20px;
	position: absolute;
	bottom:3%;
	z-index:666;
}
.btnList li{
	width:15px;
	height:15px;
	border:1px solid #fff;
	margin:0 5px;
	border-radius: 50%;
}
.btnList li.active{
	background:#fff;
}
.carousel .leftBtn,.carousel .rightBtn{
	position: absolute;
	top:35%;
	z-index:999;
	text-decoration: none;
	color:#fff;
	opacity:0.5;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}
.carousel .leftBtn:hover,.carousel .rightBtn:hover{
	opacity:0.8;
}
.leftBtn{
	left:3%;
}
.rightBtn{
	right:3%;
}